[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
gunicorn = "*"
dj-database-url = "*"
django-crispy-forms = "*"
pillow = "*"
whitenoise = "*"
psycopg2-binary = "*"
pylint-django = "*"
djangorestframework = "*"

[requires]
python_version = "3.6"
