{% extends "base.html" %} {% block content %} {% include 'navbar.html' %}
<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-sm-6">
                    <h1 class="display-3 offset-1">{{ page_obj.title }}</h1>
                    <div class="offset-3">
                        <p>{{ page_obj.title_description|linebreaks }}</p>
                    </div>
                    <!-- {% if page_obj.title_btn_url %}
            <p><a class="btn btn-primary btn-lg" href="{{ title_btn_url }}" role="button">{{ page_obj.title_button }} &raquo;</a></p>
            {% endif %} -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        {% include 'pages/snippet/join-form.html' with form=form%}
    </div>

    <div class="container">
        {{ page_obj.content|safe }}

    </div>

    <hr>

    <div class="container">
        <div class="row">
            <div class="col-sm 3">
                <footer>
                    <p>&copy; 2020 Cosmo Babylon, Inc</p>
                </footer>
            </div>
            <div class="col-sm 3">
                <footer>
                    <p>garyharney@cosmobabylon.com </p>
                    <p>+61 472724025 </p>
                </footer>
            </div>
        </div>


    </div>


    {% endblock content %}