{% load static %}
<!-- Three -->
<section id="three">
    <h2>Get In Touch</h2>

    <p>Have a question or want to work together?</p>
    <div id="thanks_message" style="display:none" class="alert alert-success" role="alert">
        Thank you for your message. You can expect a response very soon.
    </div>
    <div id="email_warning" style="display:none" class="alert alert-warning" role="alert">
        Please enter a valid email address
    </div>


    <div class="row">
        <div class="col-8 col-12-small">
            <form id="contact_form" class="join-form" method="post" action="">{% csrf_token %}
                {{ form.non_field_errors }}
                <div class="row gtr-uniform gtr-50">
                    <div class="col-6 col-12-xsmall">
                       

                        {{ form.name }}
                         {% if form.name.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.name.errors }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-6 col-12-xsmall">
                        

                        {{ form.email }}

                        {% if form.email.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}

                    </div>
                    <div class="col-12">
                        {% if form.content.errors %}
                            <div class="alert alert-warning" role="alert">
                                {{ form.content.errors }}
                            </div>
                        {% endif %}                        
                    </div>
                    
                </div>


                {{ form.content }}

                <ul class="mt-5 actions">
                    <li><input type="button" class= "btn-submit" value="Send Message"/></li>
                </ul>

            </form>
            
        </div>
        <div class="col-4 col-12-small">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon solid fa-home"><span class="label">Address</span></h3>
                    Brunswick Rd,<br />
                    Brunswick West, VIC 3055<br />
                    Australia
                </li>
                <li>
                    <h3 class="icon solid fa-mobile-alt"><span class="label">Phone</span></h3>
                    04 7272 4025
                </li>
                <li>
                    <h3 class="icon solid fa-envelope"><span class="label">Email</span></h3>
                    <a href="mailto:garyharney@cosmobabylon.com">garyharney@cosmobabylon.com</a>
                </li>
            </ul>
        </div>
    </div>
</section>

