{% load static %}

<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://github.com/garyjh126" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/gary-harney-b1ba13b5/" class="icon brands fa-linkedin"><span class="label">Dribbble</span></a></li>
            <li><a href="mailto:garyharney@cosmobabylon.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2020 Cosmo Babylon, Inc</li>
        </ul>
        <ul class="copyright">
            <li>Email: garyharney@cosmobabylon.com</li>
            <li>Phone number: 04 7272 4025</li>
        </ul>
        
    </div>
</footer>