{% load static %}

<footer id="footer">
    <div class="inner">
        <ul class="icons">
            <li><a title="Github" href="https://github.com/garyjh126" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a title="LinkedIn" href="https://www.linkedin.com/in/gary-harney-b1ba13b5/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a title="Instagram" href="https://www.instagram.com/gary_james_harney/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li style="position:relative; bottom:3px;"><a title="Resume" href="https://drive.google.com/file/d/1G6isYf4Ih-2AI0w2T61pxmzY3kJ9V7ge/view?usp=sharing"><span class="label"><i class="fa fa-file-pdf fa-lg"></i></span></a></li>
            <li><a title="Email" href="mailto:garyharney@cosmobabylon.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <ul class="copyright">
            <li>Email: garyharney@cosmobabylon.com</li>
            <li>Phone number: 04 7272 4025</li>
        </ul>
        <ul class="copyright">
            <li>&copy; 2020 Cosmo Babylon, Inc</li>
        </ul>
        
    </div>
</footer>