{% load static %}


<section id="four" class="section skills has-text-centered">
   <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="box-element">
                    <h2>Front-End Development</h2>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <div class="col">
                <div class="box-element">
                    <h2>Back-End Development</h2 class="">
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>

        </div>
    </div>
    </div>
</section>